# edit here
# def/undef for local target
# RF(3G) models
# LTE models
gc2pdlte="CONFIG_SEC_MODEM_V2=y \
          CONFIG_SEC_MODEM_SP7160LTE=y CONFIG_GC2PD_LTE=y"
gc2pdlte_undef="SEC_MODEM_PRIMITIVE SEC_MODEM_M0"
gc2pdlte_att="CONFIG_TARGET_LOCALE_USA=y \
              CONFIG_SEC_MODEM_GC2_ATT=y \
              CONFIG_SAMSUNG_C2C=y CONFIG_EXYNOS_C2C=y CONFIG_C2C_IPC_ENABLE=y CONFIG_C2C_IPC_ONLY=y \
              CONFIG_GC2PD_LTE=y \
              CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m"
gc2pdlte_att_undef="TARGET_LOCALE_EUR SEC_MODEM_M0 UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC LINK_DEVICE_CLASS_CDC_ACM"
gc2pdlteq="CONFIG_QC_MODEM=y \
           CONFIG_USB_USBNET=y \
           CONFIG_USB_SERIAL_QUALCOMM=y \
           CONFIG_USB_SERIAL_CSVT=y CONFIG_GC2PD_LTE=y \
           CONFIG_GC2PD_LTE_EUR_OPEN=y"
gc2pdlteq_undef="SEC_MODEM_PRIMITIVE SEC_MODEM_M0 SEC_MODEM"
gc2pd_chn_cu="CONFIG_TARGET_LOCALE_CHN=y \
    CONFIG_WLAN_REGION_CODE=300"
gc2pd_chn_cu_undef="TARGET_LOCALE_EUR"
gc2pdlte_skt="CONFIG_TARGET_LOCALE_KOR=y \
              CONFIG_SEC_MODEM_GC2_ATT=y CONFIG_SAMSUNG_C2C=y CONFIG_EXYNOS_C2C=y CONFIG_C2C_IPC_ENABLE=y CONFIG_C2C_IPC_ONLY=y CONFIG_MACH_GC2PD_KOR_SKT=y CONFIG_GC2PD_LTE=y CONFIG_XFRM_USER=y CONFIG_INET_IPCOMP=y CONFIG_CRYPTO_XCBC=y CONFIG_CRYPTO_NULL=y CONFIG_WLAN_REGION_CODE=201 \
              CONFIG_USER_RESET_DEBUG=y CONFIG_TCP_CONG_ADVANCED=y CONFIG_TCP_CONG_BIC=y CONFIG_DEFAULT_BIC=y CONFIG_DEFAULT_TCP_CONG="bic" "
gc2pdlte_skt_undef="TARGET_LOCALE_EUR SEC_MODEM_M0 UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC LINK_DEVICE_CLASS_CDC_ACM"
gc2pdlte_ktt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_USER_RESET_DEBUG=y \
              CONFIG_SEC_MODEM_GC2_ATT=y CONFIG_SAMSUNG_C2C=y CONFIG_EXYNOS_C2C=y CONFIG_C2C_IPC_ENABLE=y CONFIG_C2C_IPC_ONLY=y CONFIG_MACH_GC2PD_KOR_KT=y CONFIG_GC2PD_LTE=y CONFIG_WLAN_REGION_CODE=202"
gc2pdlte_ktt_undef="TARGET_LOCALE_EUR SEC_MODEM_M0 UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC LINK_DEVICE_CLASS_CDC_ACM"
gc2pdlte_lgt="CONFIG_TARGET_LOCALE_KOR=y CONFIG_USER_RESET_DEBUG=y \
              CONFIG_SEC_MODEM_GC2_ATT=y CONFIG_SAMSUNG_C2C=y CONFIG_EXYNOS_C2C=y CONFIG_C2C_IPC_ENABLE=y CONFIG_C2C_IPC_ONLY=y CONFIG_MACH_GC2PD_KOR_LGT=y CONFIG_GC2PD_LTE=y CONFIG_WLAN_REGION_CODE=203"
gc2pdlte_lgt_undef="TARGET_LOCALE_EUR SEC_MODEM_M0 UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC LINK_DEVICE_CLASS_CDC_ACM"
gc2pdwifi=""
gc2pdwifi_undef="SEC_MODEM_PRIMITIVE SEC_MODEM_M0"
