# edit here
# def/undef for local target
# WIFI models
sf2wifi="CONFIG_MACH_SF2=y \
	CONFIG_EXYNOS4X12_1500MHZ_SUPPORT=y \
	CONFIG_SEC_THERMISTOR=y \
	CONFIG_BCM4334=m \
	CONFIG_SF2_NFC_TAG=y\
	CONFIG_RTC_DRV_S5M_SF2=y \
	CONFIG_SENSORS_AK8963C_FACTORY=y \
	CONFIG_UHID=y \
	CONFIG_EXYNOS4_MSHC_SUPPORT_PQPRIME_EPLL=y \
	CONFIG_ION_EXYNOS_CONTIGHEAP_SIZE=177152 \
	CONFIG_USE_ADC_DET=y \
	CONFIG_EXYNOS_SOUND_PLATFORM_DATA=y \
	CONFIG_VIDEO_SAMSUNG_MEMSIZE_FIMC0=61440"
sf2wifi_undef="EXYNOS4X12_1400MHZ_SUPPORT \
	RTC_DRV_S5M \
	SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC"
