# Base model is Tab3 7 inch 3G.
# def/undef for local target
######################################
# tab3 7inch
######################################
tab3_wifi7="CONFIG_TARGET_TAB3_WIFI7=y \
	CONFIG_SENSORS_BH1730=y"
tab3_wifi7_undef="SENSORS_GP2A SENSORS_ASP01 \
	SEC_MODEM"
tab3_lte7="CONFIG_TARGET_TAB3_LTE7=y \
	   CONFIG_QC_MODEM=y
	   CONFIG_USB_USBNET=y
	   CONFIG_USB_SERIAL_QUALCOMM=y
	   CONFIG_USB_SERIAL_CSVT=y"
tab3_lte7_undef="SEC_MODEM \
	GPS_BCMxxxxx GPS_BCM4752"

######################################
# tab3 10inch
######################################
tab3_3G10="CONFIG_TARGET_TAB3_3G10=y \
	CONFIG_FB_S5P_S6C1372=y\
	CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y \
	CONFIG_SENSORS_BH1730=y	\
	CONFIG_TAB3_BATTERY10=y"
tab3_3G10_undef="SENSORS_GP2A \
	FB_S5P_MIPI_DSIM FB_S5P_S6D7AA0 BACKLIGHT_LP855X \
	TOUCHSCREEN_MMS152_TAB3 \
	TOUCHSCREEN_ZINITIX_BT532"
tab3_wifi10="CONFIG_TARGET_TAB3_WIFI10=y \
	CONFIG_FB_S5P_S6C1372=y \
	CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y \
	CONFIG_SENSORS_BH1730=y	\
	CONFIG_TAB3_BATTERY10=y"
tab3_wifi10_undef="SENSORS_GP2A SENSORS_ASP01 \
	FB_S5P_MIPI_DSIM FB_S5P_S6D7AA0 BACKLIGHT_LP855X \
	TOUCHSCREEN_MMS152_TAB3 \
	TOUCHSCREEN_ZINITIX_BT532 \
	SEC_MODEM"
tab3_lte10="CONFIG_TARGET_TAB3_LTE10=y \
	CONFIG_FB_S5P_S6C1372=y \
	CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y \
	CONFIG_SENSORS_BH1730=y	\
	CONFIG_TAB3_BATTERY10=y \
	CONFIG_QC_MODEM=y
	CONFIG_USB_USBNET=y
	CONFIG_USB_SERIAL_QUALCOMM=y
	CONFIG_USB_SERIAL_CSVT=y"
tab3_lte10_undef="SENSORS_GP2A \
	FB_S5P_MIPI_DSIM FB_S5P_S6D7AA0 BACKLIGHT_LP855X \
	GPS_BCMxxxxx GPS_BCM4752 TOUCHSCREEN_MMS152_TAB3 \
	TOUCHSCREEN_ZINITIX_BT532 \
	SEC_MODEM"
	
######################################
# tab3 8inch
######################################
tab3_3G8="CONFIG_TARGET_TAB3_3G8=y \
	CONFIG_SENSORS_CM36653=y
	CONFIG_TOUCHSCREEN_MMS252=y \
	CONFIG_VIDEO_ISX012=y \
	CONFIG_VIDEO_SR130PC20=y \
	CONFIG_S6D7AA0_LSL080AL02=y"
tab3_3G8_undef="MFD_MAX77686 \
	SENSORS_GP2A \
	TOUCHSCREEN_MMS152_TAB3 \
	TOUCHSCREEN_ZINITIX_BT532 \
	VIDEO_S5K5CCGX \
	VIDEO_DB8131M"
tab3_wifi8="CONFIG_TARGET_TAB3_WIFI8=y \
	CONFIG_SENSORS_CM3323=y \
	CONFIG_VIDEO_ISX012=y \
	CONFIG_VIDEO_SR130PC20=y\
	CONFIG_TOUCHSCREEN_MMS252=y \
	CONFIG_WIFI_BROADCOM_COB=y \
	CONFIG_S6D7AA0_LSL080AL02=y"
tab3_wifi8_undef="MFD_MAX77686 \
	SENSORS_GP2A SENSORS_ASP01 \
	VIDEO_S5K5CCGX \
	VIDEO_DB8131M\
	TOUCHSCREEN_MMS152_TAB3 \
	TOUCHSCREEN_ZINITIX_BT532 \
	SEC_MODEM \
	DC_MOTOR"
tab3_lte8="CONFIG_TARGET_TAB3_LTE8=y \
	CONFIG_SENSORS_CM36653=y \
	CONFIG_TOUCHSCREEN_MMS252=y \
	CONFIG_VIDEO_ISX012=y \
	CONFIG_VIDEO_SR130PC20=y\
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y \
	CONFIG_S6D7AA0_LSL080AL02=y \
	CONFIG_USB_SERIAL_CSVT=y"
tab3_lte8_undef="MFD_MAX77686 \
	SENSORS_GP2A \
	VIDEO_S5K5CCGX \
	VIDEO_DB8131M\
	GPS_BCMxxxxx GPS_BCM4752 \
	TOUCHSCREEN_MMS152_TAB3 \
	TOUCHSCREEN_ZINITIX_BT532 \
	SEC_MODEM"
