# Base model is Tab3 7 inch 3G.
# def/undef for local target
######################################
# tab3 7inch
######################################
tab3_wifi7="CONFIG_TARGET_TAB3_WIFI7=y \
	CONFIG_SENSORS_BH1730=y"
tab3_wifi7_undef="SENSORS_GP2A SENSORS_ASP01"
tab3_lte7="CONFIG_TARGET_TAB3_LTE7=y \
	   CONFIG_QC_MODEM=y
	   CONFIG_USB_USBNET=y
	   CONFIG_USB_SERIAL_QUALCOMM=y"
tab3_lte7_undef="SEC_MODEM \
	GPS_BCMxxxxx GPS_BCM47521"

######################################
# tab3 10inch
######################################
tab3_3G10="CONFIG_TARGET_TAB3_3G10=y \
	CONFIG_FB_S5P_S6C1372=y\
	CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y \
	CONFIG_SENSORS_BH1730=y	\
	CONFIG_TAB3_BATTERY10=y"
tab3_3G10_undef="SENSORS_GP2A \
	FB_S5P_MIPI_DSIM FB_S5P_S6D7AA0 BACKLIGHT_LP855X \
	TOUCHSCREEN_MMS152_TAB3"
tab3_wifi10="CONFIG_TARGET_TAB3_WIFI10=y \
	CONFIG_FB_S5P_S6C1372=y \
	CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y \
	CONFIG_SENSORS_BH1730=y	\
	CONFIG_TAB3_BATTERY10=y"
tab3_wifi10_undef="SENSORS_GP2A SENSORS_ASP01 \
	FB_S5P_MIPI_DSIM FB_S5P_S6D7AA0 BACKLIGHT_LP855X \
	TOUCHSCREEN_MMS152_TAB3 \
	SEC_MODEM"
tab3_lte10="CONFIG_TARGET_TAB3_LTE10=y \
	CONFIG_FB_S5P_S6C1372=y \
	CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y \
	CONFIG_SENSORS_BH1730=y	\
	CONFIG_TAB3_BATTERY10=y \
	CONFIG_QC_MODEM=y
	CONFIG_USB_USBNET=y
	CONFIG_USB_SERIAL_QUALCOMM=y"
tab3_lte10_undef="SENSORS_GP2A \
	FB_S5P_MIPI_DSIM FB_S5P_S6D7AA0 BACKLIGHT_LP855X \
	GPS_BCMxxxxx GPS_BCM47521 TOUCHSCREEN_MMS152_TAB3 \
	SEC_MODEM"
	
######################################
# tab3 8inch
######################################
tab3_3G8="CONFIG_TARGET_TAB3_3G8=y \
	CONFIG_MFD_S5M_CORE=y \
	CONFIG_REGULATOR_S5M8767=y \
	CONFIG_RTC_DRV_S5M=y
	CONFIG_VIDEO_ISX012=y
	CONFIG_VIDEO_SR130PC20=y"
tab3_3G8_undef="MFD_MAX77686 \
	REGULATOR_MAX77686 \
	RTC_DRV_MAX77686 \
	STMPE811_ADC \
	VIDEO_S5K5CCGX \
	VIDEO_DB8131M"
tab3_wifi8="CONFIG_TARGET_TAB3_WIFI8=y \
	CONFIG_MFD_S5M_CORE=y \
	CONFIG_REGULATOR_S5M8767=y \
	CONFIG_WIFI_BROADCOM_COB=y \
	CONFIG_RTC_DRV_S5M=y"
tab3_wifi8_undef="MFD_MAX77686 \
	REGULATOR_MAX77686 \
	RTC_DRV_MAX77686 \
	STMPE811_ADC \
	SENSORS_ASP01"
tab3_lte8="CONFIG_TARGET_TAB3_LTE8=y \
	CONFIG_MFD_S5M_CORE=y \
	CONFIG_REGULATOR_S5M8767=y \
	CONFIG_RTC_DRV_S5M=y"
tab3_lte8_undef="MFD_MAX77686 \
	REGULATOR_MAX77686 \
	RTC_DRV_MAX77686 \
	STMPE811_ADC"
